<input type="file" (change)="onFileSelected($event)" />
<div class="container" [style.display] = 'fileselected? "block":"none" '>

  <canvas
  #canvas
  width="800"
  height="600"
  style="border: 1px solid black;"
  
  (mousedown)="startDrawing($event)"
  (mouseup)="stopDrawing()"
  (mousemove)="draw($event)"
  >
  
</canvas>

<br>
color changes
<button  (click)="changeColor('red')">red</button>
<button  (click)="changeColor('green')">green</button>
<button  (click)="changeColor('blue')">blue</button>
<button  (click)="changeColor('yellow')">yellow</button>
<button  (click)="changeColor('black')">black</button>
<br><br>
<button (click)="resetCanvas()">Reset</button>
<br>
<br>
<button (click)="undo()">undo</button>
<button (click)="redo()">redo</button>
<button (click)="size(5)">linesize 1</button>
<button (click)="size(10)">linesize 2</button>
<button (click)="size(15)">linesize 3</button>
<button (click)="size(20)">linesize 4</button>

<br>
<!-- <button (click)="toggleEraser()">Erase</button> -->
</div>

